

#wrapper{
    position: absolute;
    left: 30%;
    top: 20%;
    height: 500px;
    width: 500px;
    border: 2px #0C1520;
}

#startTime{
    background-color: #8E9599;
    margin-left: 33%;
    padding: 15px 30px;
    font-size: 20px;
    color: #1E303A;
}

#questions{
    margin:20px;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: #8E9599;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #1E303A;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
}

#clear {
    background-color: #8E9599;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #1E303A;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}


    